<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vibe.smartview">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Smart View"
        android:theme="@android:style/Theme.NoDisplay">

        <activity
            android:name=".LaunchActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SmartViewTileService"
            android:icon="@drawable/ic_cast"
            android:label="Smart View"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>

</manifest>
